/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


nav {
    padding-left: 0rem;
    margin-top: .25rem;
}
nav a {text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3; 
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    border: solid; border-width: .0625rem; border-color: #33658A;

}

nav a:focus,
nav a:hover {
    color: #fff;
    background-color: #33658A ;
}

nav a:active {
    color: #fff;
    background-color: #000;
